.container{
    text-align: center;
    margin-top: 23px;
}

table{
    margin: auto;
}

input{
    border: 5px solid #E76F51;
    border-radius: 21px;
    font-size: 34px;
}

button{
    font-size: 40px;
    border-radius: 20px;
    background: #265653;
    width: 102px;
    height: 65px;
    outline: none;
    border: none;
}

button:focus {
    outline: none;
    background-color: #326e6a;
}
.footer{
    padding-top: 20px;
}
.calculator{
    border: 4px solid #E9C46A;
    display: inline-block;
    background-color: #2A9D8F;
    padding: 20px;
    border-radius: 43px;

}